@model IEnumerable<FPtask.Models.Shares>

@{
    ViewBag.Title = "Buy";
}
 
<h2>Do you really want to buy:</h2>




@using (Html.BeginForm("BuyProcess", "Purchases", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "TradeForm" }))
{
    @Html.AntiForgeryToken()
    
    
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Shares Available
        </th>
    
        <th>
          Price of 1 Share PLN
        </th>

        <th>
            Shares To Purchase
        </th>

        <th>
            Value in PLN
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountAvailable)
            <input type="hidden" value="@(item.AmountAvailable)" id="AmountAvailable" />
             
        </td>

        <td>
            <span id="@(item.Code)_price"></span>
            <input type="hidden" value="@(item.Code)" id="CurrentCode" name="CurrentCode" />
            <input type="hidden" value="" id="Price" name="Price" />
        </td>

        <td>
            <input type="text" id="TradedSharesAmount" value="1" name="TradedSharesAmount" /> 
            <span id="AmountInfo" class="validation-summary-errors text-danger"></span>
        <td>
            <span id="TotalValue"></span>
        </td>

        <td>
            <input type="button" value="Confirm Purchase!" id="TradeButton" />


             
        </td>
    </tr>
}

</table>
}